

$fuente-principal:'Fjalla One', sans-serif;
$fuente-secundaria:'Staatliches', cursive;

////////////////////////////////
////////////////////////////

$celeste-muy-claro: #bfe4ea;
$celeste-claro: #61ccdf;
$celeste-oscuro: #61ccdf;
$azul: #186c80;
$gris: #849576;
